* {
  color: #333333;
}
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
}
ul {
  display: flex;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  gap: 20px;
}
ul a {
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
}
h1 {
  color: #f4ce14;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.2rem;
}
button {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #f4ce14;
  width: 10rem;
  max-height: 3rem;
  color: #000000;
  border-radius: 20px;
  font-weight: bold;
  align-self: center;
}
.header-background {
  background-color: #495e57;
  padding: 2rem;
}
.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.header-text {
  flex: 1;
}
.header-text h1 {
  margin-bottom: 1px;
}
.header-text h2 {
  margin-top: 1px;
}
.header-text p,
.header-text h2 {
  color: #ffffff;
}

.header-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.header-container img {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 18rem;
  height: 20rem;
  border-radius: 20px;
}
.special-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.special-title {
  grid-column: span 2;
  justify-self: start;
  margin-left: 2rem;
  color: black;
  font-size: 2.5rem;
}
.card {
  background-color: #edefee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px;
}

.card-content {
  padding: 16px;
}

.card-title {
  margin: 0 0 8px;
  font-size: 1.5em;
  color: #333;
}
.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-price {
  color: #ee9972;
}
.card-description {
  font-size: 1em;
  color: #777;
  margin: 25px 0 25px;
  height: 100px;
}
.card-delivery {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-delivery img {
  width: 30px;
}
.card-content p {
  text-align: left;
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 500px;
  height: 600px;
  background-color: #edefee;
  border-radius: 20px;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.testimonails-img {
  width: 100px;
  height: auto;
  background-image: url("./icons_assets/Profile_avatar_placeholder_large.png");
  border-radius: 50px;
}
.star-container {
  display: flex;
  gap: 5px;
}
.star-container img {
  width: 25px;
}
.customer-say-title {
  color: #333333;
  text-align: center;
}
.customer-say-testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.chicago-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}
.chicago-text {
  flex: 1;
}
.chicago-text h1 {
  margin-bottom: 1px;
}
.chicago-text h2 {
  margin-top: 1px;
}
.chicago-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.chicago-container img {
  position: absolute;
  top: -15%;
  left: 75%;
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
}
#overlap-img {
  top: 45%;
  left: 60%;
  z-index: 1;
}
footer {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  gap: 15rem;
  text-align: center;
  border-top: 2px solid #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
